.app {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    color: white;
    height: 100%;
    background: linear-gradient(180deg, rgb(224, 2, 2) 80px, rgb(26, 25, 25) 0px);
}

/* form styling */

.form {
    border: 2px solid white;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 3px black;
    padding: 1rem;
    width: 20rem;
    font-size: 1rem;
    font-weight: bold;
    font-family: sans-serif;
    background-image: url('PPB.jpg');
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

input, textarea, button {
    display: block;
    margin: 0.66rem auto 0.66rem auto;
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
}

input, textarea {
    min-width: calc(100% - 1rem);
    max-width: calc(100% - 1rem);
}

textarea {
    min-height: 4rem;
}

#submit {
    border: 2px solid white;
    cursor: pointer;
    margin-top: 1.2rem;
    border-radius: 10px;
    height: 1.75rem;
    width: 5rem;
    background-color: black;
    color: white;
    font-weight: bold;
}

#submit:hover {
    border: 2px solid black;
    background-color: white;
    color: black;
}

h1 {
    margin: 1rem 0 1rem 0;
}

h2, h3 {
    margin: 0 0 1rem 0;
}

::placeholder {
    color:black;
    font-family: sans-serif;
}

/* review item styling */

.reviewItemBad, .reviewItemMedium, .reviewItemGood {
    border-radius: 5px;
    padding: 1rem;
    margin: 10px;
    width: 20rem;
    margin-top: 1rem;
    background-color: rgb(27, 27, 27);
}

.reviewItemBad {
    border: 3px solid red;
}

.reviewItemMedium {
    border: 3px solid orange;
}

.reviewItemGood {
    border: 3px solid green;
}

#pizzaPlaceItem, #custNameItem, #reviewItem {
    margin: 0.5rem auto 0.5rem auto;
    padding: 0.1rem 0.1rem;
}

#pizzaPlaceItem {
    font-size: x-large;
    font-weight: bolder;
}

#starItem {
    color: rgb(252, 174, 29);
    margin: 0.25rem auto 0.25rem auto;
    padding: 0.1rem 0.1rem;
}

#dateItem {
    font-size: small;
    margin: 0.25rem auto 0.25rem auto;
    padding: 0.1rem 0.1rem;
}

#custNameItem {
    font-size: small;
}

.buttonItem {
    display: block;
    margin: auto;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
}

#buttonDelete {
    border: 1px solid black;
    border-radius: 5px;
}

#buttonEdit {
    border: 1px solid black;
    border-radius: 5px;
}
